.ques-button {
    white-space: normal;
    font-size: 15px !important;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}

.ques-widget {
    background-color: #DAE8FC;
    color: black;
    font-size: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align: flex-start;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 10px;
}

.accordion-body{
    background-color: #7aa8bd;
}

.accordion-button{
    background-color: #fbfbef;
}

.opt-button {
    white-space: normal;
    font-size: 14px !important;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
}

.side-opt-button {
    white-space: normal;
    line-height: 1.5;
    font-size: 15px;
    border-radius: 10px;
    padding: 5px;
}

.custom-header {
    white-space: normal;
    font-size: 14px !important;
    font-weight: bold;
    color: #000000;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
}

.custom-footer {
    width: auto;
    align-items: flex-start !important; 
    padding-top: 70px;
    height: auto;
}

.custom-vbox {
        background-color: #E8E8E8;
    }

.mod-header-button {
    white-space: normal;
    line-height: 1.5;
    font-size: 27px;
    padding: 5px;
    border-radius: 10px;
    height: 200px;
}

.recom-opt-button {
    white-space: normal;
    line-height: 1.5;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
}

